.academic__container{
    width: 100%;
    height: 420px;
    padding-top: 80px;
}

.academic__container__title{
    width: 80%;
    height: 40px;
    margin: auto;
    text-align: center;
    color: #4D4D4D;
}

.academic__courses{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.academic__courses__box{
    width: 200px;
    height: 250px;
    border: 2px solid #4D4D4D;
    border-radius: 5%;
    margin: 0 10px;
    padding-top: 15px;
    box-shadow: 0 0 14px 1px rgb(77, 77, 77);
    text-align: center;
}

.academic__img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 0 0 14px 1px rgb(77, 77, 77);
}

.academic__courses__item__title{
    color: #4D4D4D;
}

.academic__courses__item__subtitle{
    color: #4D4D4D;
    margin-bottom: 0;
}