.skills__container{
    background: linear-gradient(45deg, #09456c, #195e63);
    width: 100%;
    height: 580px;
    margin: auto;
    padding-top: 80px;
}

.skills__container__title{
    width: 80%;
    height: 40px;
    margin: auto;
    text-align: center;
}

.skills__title{
    color: white;
    margin: center;
}

.skills__line{
    width: 80%;
    height: 160px;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.skills__box{
    width: 120px;
    height: 140px;
    text-align: center;
    margin: 0 2%;
    border: 2px solid white;
    box-shadow: 0 0 14px 1px rgb(255, 255, 255);
    border-radius: 5%;
    padding: 20px 0;
}

.skills_img{
    display: flex;
}

.skills__img__languages{
    width: 80px;
    height: 80px;
}

.skills__name{
    color: white;
}

@media (max-width: 1258px){
    .skills__container{
        height: 50vh;
    }
    
}