.menu__imagen{
    border-radius: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.menu__separador{
    width: 100%;
    height: 60px;
}

.menu__contenido{
    background: #273142;
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu__link{
    color: white;
    position: absolute;
    padding: 5px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu__imagen{
    height: 30px;
    margin-right: 10px;
}

.menu__title{
    font-size: 16px;
}

.menu__list{
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

.menu__list__item{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

.menu__list__link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 4px 4px;
    border-radius: 3px;
}

.menu__list__link.active,
.menu__list__link:hover{
    background: white;
    color: #273142;
    transition: 0.1s;
}

.checkbtn{
    color: white;
    float: right;
    font-size: 40px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1300px){
    .menu__link{
        padding-left: 20px;
    }

    .menu__list{
        margin-right: 10px;
    }

    .menu__list__item{
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 1100px){
    .checkbtn{
        display: block;
    }

    .menu__list{
        background: #273142;
        position: fixed;
        width: 100%;
        height: auto;
        top: 60px;
        margin-top: 0;
        right: -150%;
        text-align: left;
        transition: all 0.5s;
        border-radius: 0 0 0 10px;
    }

    .menu__list__item{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    .menu__list__link{
        font-size: 20px;
    }

    .menu__list__link:hover,
    .menu__list__link.active{
        background: none;
        color: white;
    }

    .check:checked ~ .menu__list{
        right: -70%;
    }
}

@media (max-width: 800px){
    
}