.about__container{
    background: #ffffff;
    width: 100%;
    height: 80vh;
}

.about__container__text{
    width: 80%;
    height: 370px;
    margin: auto;
    margin-top: 3%;
}

.about__title{
    color: #09456c;
    font-size: 28px;
    margin: auto;
}

.about__paragraph{
    color: #273142;
    font-size: 18px;
    font-weight: 400;
}

.about__container__signature{
    width: 80%;
    height: 100px;
    margin: auto;
}

.about__signature{
    width: 160px;
}