.hobbies__container{
    background: linear-gradient(45deg, orange, #FFCC00);
    width: 100%;
    height: 340px;
    padding-top: 80px;
}

.hobbies__container__title{
    width: 80%;
    height: 40px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

.hobbies__title{
    color: #4D4D4D;
    margin: auto;
}

.hobbies__container__box{
    width: 80%;
    height: 200px;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
}

.hobbies__line{
    width: auto;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.one{
    
}

.hobbies__box{
    width: 120px;
    height: 150px;
    text-align: center;
    margin: 0 2%;
    border: 2px solid #4D4D4D;
    box-shadow: 0 0 14px 1px rgb(77, 77, 77);
    border-radius: 5%;
    padding: 20px 0;
}

.hobbies__img{
    width: 80px;
    height: 80px;
}

.hobbies__name{
    color: #4D4D4D;
    font-weight: 500;
}

@media (max-width: 1000px){
    .hobbies__container{
        height: auto;
    }
    
    .hobbies__line{
        margin-bottom: 0;
    }

    .hobbies__container__box{
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }
}